

#hb{
    background-image: url("./Pictures/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
    font-family:'DM sans';
    font-weight: bold;
    


    
}
#abt{
    
    background-color: #eaeaea;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
    font-family:'DM sans';
    font-weight: bold;
    


    
}
#p1{
    color:black


}
.iframe{
    margin-left: 220;
}
.fixed-nav {
    position: fixed;
    right: 20px; 
    top: 20px;  
    z-index: 1000; 
    
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
    border:transparent;
    background-color: rgba(0, 0, 0, 0.831);
    padding: 10px;
    font-family: 'DM Sans';
    justify-content: flex-end;
   
}


.nav-menu li a {
    text-decoration: none;
    color: #fdfcfc; 
    padding: 5px 10px;

    font-weight: lighter;
    transform: scale(1);
    transition: all 0.3s ease;
   
    
}

.nav-menu li a:hover {

    color: #f3f6f7; 
    font-weight: 700;
    transform: scale(1.02);


}
h1{
    margin-left: 50px;
    font-size: 45px;
}
#branch{
    margin-top: 50px;
    text-align: left;
}
iframe{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

p{
    color: white;
    font-size: 60px;
    margin-left: 120px;
    
}
#main{
    margin-top: 350px;
}

#button{
    background-color: #f3f6f7; 
    color: white; 
    padding: 15px 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px; 
    background-color: transparent;
    border-style: solid;
    border-color: white;
    margin-left: 25px; 
    margin-bottom: 20px;
    transition : all 0.5s;

}
#button:hover{
    color: #111212; 
    background-color: #ffffff;
}

#logo{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    transform: scale(0.6); 
    height: 30px;
    width: auto;


}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .left,
  .right {
    flex: 1;
    min-width: 300px;
  }
  .team-list {
    margin-top: 20px;
  }
  
  .team-member {
    display:flex;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    margin: 8px 0;
  }  

  #about_us{
    background-color: #eaeaea;
    color: #111212;
  }
  #about{
    color: #111212;
  }
  #photo{
    padding-top: 60px;
    padding-left: 90px;
    margin-left: 30px;
    display: inline-block;
  }
 
  .scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    font-size: 2rem;
    color: white;
  }
  #small{
    font-size: 25px;
    margin-left: 110px;
    font-family: 'DM sans';
    font-weight: 500;
    color: #111212;
  } 
  #names{
    margin-left: 90px;
    display: inline-block;
    color: #111212;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;

  }
  #loc{
    position: relative;
    top: 100px;
    left: 100px;
    height: 100px;
    z-index: 10;

  }


